# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv
.idea
# Environment files
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Windows shortcuts
*.lnk

# Others
logs/
*.log
*.sqlite3
.vercel
